# Site
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_NAME=

# Contact
NEXT_PUBLIC_PHONE=
NEXT_PUBLIC_PHONE_HREF=
NEXT_PUBLIC_EMAIL=
NEXT_PUBLIC_EMAIL_HREF=

# Address
NEXT_PUBLIC_ADDRESS_LINE_ONE=
NEXT_PUBLIC_ADDRESS_LINE_TWO=
NEXT_PUBLIC_CITY=

# Social Links
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_MAPS_URL=
